<IfModule mod_rewrite.c>
    RewriteEngine On

    # Handle /projects/SAS-PRJ/
    RewriteCond %{REQUEST_URI} ^/erp-psm/
    RewriteRule ^projects/SAS-PRJ/(.*)$ index.php/$1 [L]

    

    # Remove index.php from URL
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>   
 